* {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}
body {
  height: 100vh;
  background-color: rgb(177, 244, 244);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 500px;
  height: 150px;
  background-color: rgb(68, 135, 183);
  margin: 10px;
  border-radius: 20px;
}
h1 {
  color: rgb(0, 0, 0);
  margin-bottom: 15px;
  font-size: 30px;
}
input{
  height: 30px;
  width: 200px;
  padding-left: 10px;
  margin-right: 5px;
  outline: none;
  font-size: 16px;
}
button {
  background-color: aliceblue;
  border-style: none;
  font-size: 18px;
  height: 32px;
  width: 200px;
  cursor: pointer;

}
