@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
}
/* part 1 */ /* part 1 */ /* part 1 */ /* part 1 */ /* part 1 */ /* part 1 */ /* part 1 */
.main-card {
  border: 1px solid black;
  background-color: white;
  width: 400px;
  height: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 0px 5px 7px #eee9e9;
}
.part-1 {
  text-align: center;
}
.profil {
  width: 120px;
  height: 120px;
  border: 2px solid #4070f4;
  border-radius: 50%;
  padding: 1px;
}
.title-1 {
  font-size: 18px;
}
.title-2 {
  font-size: 10px;
}
/* social media */ /* social media */ /* social media */ /* social media */ /* social media */
.social-media {
  display: flex;
  text-align: center;
  width: auto;
  margin-top: 5px;
  gap: 10px;
}
.social-media a {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: white;
  font-size: 15px;
}
.FB {
  background-color: rgb(51, 47, 167);
}
.X {
  background-color: rgb(73, 168, 236);
}
.insta {
  background-color: rgb(176, 11, 66);
}
.YT {
  background-color: red;
}
/* buttons */ /* buttons */ /* buttons */ /* buttons */ /* buttons */ /* buttons */ /* buttons */

button {
  border: none;
  color: white;
  background-color: #4070f4;
  border-radius: 25px;
  padding: 5px;
  width: 70px;
  font-size: 8px;
  cursor: pointer;
  font-weight: lighter;
}
.all-buttons {
  display: flex;
  text-align: center;
  width: auto;
  margin-top: 15px;
  gap: 15px;
}
button:hover {
  background-color: hwb(195 61% 9%); /* change to your desired color */
  color: rgb(160, 0, 157); /* change to your desired color */
  transition: 0.2s;
}

/* react */ /* react */ /* react */ /* react */ /* react */ /* react */ /* react */
.react {
  display: flex;
  cursor: pointer;
  gap: 20px;
  color: black;
  font-size: 12px;
  margin-top: 20px;
}

.react-1 {
  display: flex;
  gap: 3px;
}

.react-2 {
  display: flex;
  gap: 3px;
  border-left: 2px solid rgb(223, 221, 221);
  border-right: 2px solid rgb(223, 221, 221);
  padding: 0px 20px;
}
.react-3 {
  display: flex;
  gap: 3px;
}
.react h3 {
  font-size: 10px;
  margin-top: -2.2px;
}

.main-card ::before{
  content: " ";
  background-color: #4070f4;
}